
body {
  margin: 0, 0, 0, 0;
  background-color: #FFFFEF;
}
h1 {
  margin: 0;
}

.App {
  background-color: #FFFFEF;
  height: 100%;
  margin: 2% 5% 10% 5%;
}

.App-logo {
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  
  }
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: -2%;
}

/*************** SUBJECTS ****************/
.App-subjects {
  background: #eefffd;
  width: 18.33%;
  border-style: solid;
  border-color: #abf5ff;
  ;
  border-width: 1px;
  height: 50%;

}

.App-header {
  font-size: 30px;
}

h1 {
  display: flex;
  width: 85%;
}

#subjectTitle {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

#subjectTitle ul {
  list-style-type: none;
  margin: 0 0 10% 0;
  padding: 0 0 0 0;
}

#subjectTitle ul li {
  padding-top: 10px;
  font-size: 25px;
}


/*************** INFORMATION ****************/
.App-information {
  background: #FFFFEF;
  width: 63.33%;
  height: 100%;
  margin-top: 2%;
}

#informationTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#informationTitle h2 {
  font-size: 32px;
  align-self: center;
}

.content {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.content #tagline {
 width: 85%;
 font-size: 18px;
 align-self: center;
}

.content #text {
  width: 85%;
  font-size: 18px;
  align-self: center;
 }

.content h3 {
  font-size: 32px;
  margin-left: 15%;
}

.afterFirstTitle {
  
}

.lineBottomSpace {
  margin-bottom: 3%;
}

/******** entries ********/

.entry {
  background-color: #dffbff;
  border: solid;
  border-color: #abf5ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 70%;
  margin-top: 2%;
}

.entry h3 {
  margin-top: 2%;
}

/********* information description lists ********/

.content dl {
  width: 85%;
  align-self: center;
}

.content dt {
  font-size: 25px;
}

.content dd {
  font-size: 18px;
  margin-top: 3%;
}

.lastDescriptionLine {
  margin-bottom: 3%;
}



/***************** Code Snippets ******************/

.codeSnippets {
  width: 85%;
  align-self: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.codelet {
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-left: 10%;
  width: 70%;
  background-color: #FFD38c;
}

/*************** HEADERS ****************/
.App-headers {
  background: #FFD38c;
  width: 19.33%;
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: #ffb24e;
  justify-content: center;
  height: 50%;

}

#headerTitle {
  width: 100%;
}

#headerTitle h3 {
  display: flex;
  justify-content: center;
}

#headerTitle h3 {

}

#headerTitle ul li {
  padding-top: 20px;
  margin-left: 7%;
}


.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
