
body {
  margin: 0, 0, 0, 0;
  background-color: red;
}
h1 {
  margin: 0;
}

.App {
  background-color: blue;
  height: 100%;
  margin: 2% 5% 10% 5%;
}

.App-logo {
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  
  }
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/*************** SUBJECTS ****************/
.App-subjects {
  background: purple;
  width: 18.33%;
  
}

.App-header {
  font-size: 30px;
  
}

h1 {
  display: flex;
  width: 85%;
}

#subjectTitle {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

#subjectTitle ul {
  list-style-type: none;
  margin: 0 0 10% 0;
  padding: 0 0 0 0;
}

#subjectTitle ul li {
  padding-top: 10px;
  font-size: 25px;
}


/*************** INFORMATION ****************/
.App-information {
  background: yellow;
  width: 63.33%;
  height: 100%;
  margin-top: 2%;
}

#informationTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#informationTitle h2 {
  font-size: 40px;
  align-self: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content #tagline {
 width: 85%;
 font-size: 25px;
 align-self: center;
}

.content #text {
  width: 85%;
  font-size: 25px;
  align-self: center;
 }

.content h3 {
  font-size: 32px;
  margin-left: 15%;
}

/***************** Code Snippets ******************/

.codeSnippets {
  width: 85%;
  align-self: center;
  margin-top: 3%;
  border-radius: 10px;
  margin-bottom: 3%;
}


/*************** HEADERS ****************/
.App-headers {
  background: orange;
  width: 19.33%;
 
  display: flex;
  justify-content: center;
}

#headerTitle ul li {
  padding-top: 20px;
  margin-left: 7%;
}


.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
